@import 'monokai.scss';

$linkBlue: hsl(198, 49%, 46%);
$hiGreen: hsl(70, 100%, 50%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  max-width: 760px;
  margin: 0 auto;
  color: $color;
  background: $dark;
  background-repeat: repeat;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
a {
  color: $linkBlue;
  text-decoration: none;
}
a:hover {

}
a:focus {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}
[tabindex],
button {
  cursor: pointer;
}

h1 {
  font-weight: 600;
  font-size: 78px;
  line-height: 90px;
  text-transform: lowercase;
  font-variant: small-caps;
  margin-top: 30px;
  margin-bottom: 0px;
}
h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 60px;
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
h4 {
  font-size: 17px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 30px;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
  opacity: .3;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


pre, code {
  font-size: inherit;
  font-family: monospace;
}
abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

.vocab-index {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 30px;
  color: #333;
  background: $light;
}
.vocab-index > div {
  width: 520px;
  flex-shrink: 1;
  margin: auto;
}
.vocab-index > div::before {
  content: '';
  display: table;
  clear: both;
}

.vocab-links {
  text-align: left;
  width: 520px;
  margin: auto;
  margin-bottom: 30px;
  border-collapse: collapse;
}
.vocab-links tr:last-child td {
  border-bottom: none;
}

/*
.vocab-links .language-en td {
  vertical-align: bottom;
  border-bottom: 1px solid color(.15);
}*/
/*.language-en .vocab-link-link {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  text-transform: lowercase;
  font-variant: small-caps;
  text-transform: lowercase;
  font-variant: small-caps;
}
.language-en .vocab-link-link a {
  position: relative;
  top: -0.15em;
}*/
.vocab-link-link {
  width: 55%;
  padding-right: 15px;
}
.vocab-link-language {
  padding-right: 15px;
  color: rgba(#333, .6);
}

@media (max-width: 620px) {
  .vocab-links,
  .vocab-index > div {
    width: auto;
  }
  .vocab-link-link {
    width: auto;
  }
  .vocab-link-language {
    color: rgba(#333, .6);
  }
}
