/ Vocab structure for HTML

.element
  .start-tag
    .element-name div
    .attributes
      .attribute
        .attribute-name class
        .attribute-value father
      .attribute
        .attribute-name contenteditable
  .children
    .element.child Children and stuff go here
  .end-tag
  
/ What other stuff does html need?
  .comment

/ Deeper stuff
  .root
  .parent

/ CSS was easy, but html might get out of hand as to where to stop dwelling deeper. Needs a tight scope to be useful to the most number of people