%span.comment This is a comment

%span.element
  %span.start-tag
    %span.element-name div
    %span.attributes
      %span.attribute
        %span.attribute-name class
        %span.attribute-value father
      %span.attribute
        %span.attribute-name contenteditable
    %span.children
      %span.element.child Children and stuff go here
  %span.end-tag

/ Deeper stuff
%span.root root?
%span.parent parent?
%span.parent what else?
