/* The vocab-code sample is not a syntax highlighted bit of actual vocab-code, but an html structure, something like CssOM and its parts. It was easier to make a structure by hand than make a syntax highlighter tokenize everything just right. So here we add the bits of syntax between the elements with vocab-code. Bad for copy & paste, but nicer to style. */
.vocab-code .vocab-token {
  margin: 0;
  padding: 0; }
.vocab-code .statement, .vocab-code .selector, .vocab-code .block, .vocab-code .block::before, .vocab-code .block::after, .vocab-code .declaration {
  margin-bottom: 3px; }
.vocab-code .block {
  margin-bottom: 19px; }
.vocab-code .at-rule::before {
  content: "@"; }
.vocab-code .import::after {
  content: ";"; }
.vocab-code .media-query .expression::before {
  content: '('; }
.vocab-code .media-query .expression::after {
  content: ')'; }
.vocab-code .media-feature {
  position: relative;
  margin-right: 0.5rem; }
.vocab-code .media-feature::after {
  display: block;
  position: absolute;
  right: -0.5em;
  right: -0.5rem;
  top: 0px;
  content: ":"; }
.vocab-code .selector {
  position: relative;
  float: left;
  clear: both; }
.vocab-code .selector > * {
  position: relative; }
.vocab-code .selector::after {
  position: absolute;
  left: 100%;
  content: ","; }
.vocab-code .selector:last-of-type::after {
  content: " ";
  white-space: pre; }
.vocab-code .pseudo-class::before {
  content: ':'; }
.vocab-code .pseudo-element::before {
  content: '::'; }
.vocab-code .combinator {
  padding: 0em 0.5em; }
.vocab-code .block {
  clear: left; }
.vocab-code .block::before {
  display: block;
  clear: left;
  content: "{"; }
.vocab-code .block::after {
  display: block;
  clear: left;
  content: "}"; }
.vocab-code .block .statement {
  margin-left: 2rem; }
.vocab-code .declaration {
  float: left;
  clear: both;
  padding-right: 2em; }
.vocab-code .declaration::after {
  content: ";"; }
.vocab-code .declaration * {
  display: inline-block; }
.vocab-code .property {
  margin-left: 2em;
  margin-left: 2rem;
  margin-right: 0.5em;
  margin-right: 0.5rem;
  display: block;
  float: left;
  position: relative; }
.vocab-code .property::after {
  display: block;
  position: absolute;
  right: -0.5em;
  right: -0.5rem;
  top: 0px;
  content: ":"; }
.vocab-code .declaration .value {
  display: block;
  float: left; }
.vocab-code .declaration .value > * {
  display: block;
  float: left;
  margin-left: 0.5em;
  margin-left: 0.5rem; }
.vocab-code .vendor-prefix + * {
  margin-left: 0em;
  margin-left: 0rem; }
.vocab-code .function {
  display: block;
  float: left; }
.vocab-code .function::after {
  content: ")"; }
.vocab-code .function-name {
  display: block;
  float: left; }
.vocab-code .function-name::after {
  content: "("; }
.vocab-code .argument {
  display: block;
  float: left; }
.vocab-code .argument::after {
  display: block;
  float: left;
  content: ","; }
.vocab-code .argument > * {
  display: block;
  float: left; }
.vocab-code .argument > * + * {
  margin-left: 0.5em;
  margin-left: 0.5rem; }
.vocab-code .argument + .argument {
  margin-left: 0.5em;
  margin-left: 0.5rem; }
.vocab-code .argument:last-child::after {
  content: ""; }
.vocab-code .color.hex::before {
  content: "#"; }
.vocab-code .string::before, .vocab-code .string::after {
  content: '"'; }
.vocab-code .descendant-combinator {
  padding: 0em 0em; }
