.vocab-code {
  /* The sample code should probably not wrap */
  white-space: pre;

  /* Make things that need their own row a block */
  .token-name {
    display: block;
  }

  /* Give the bits of syntax to relevant token */
  .token-name::before {
    content: ' ';
  }
  .token-name::after {
    content: ' ';
  }
}
