/* UI higlight */
.vocab-token:focus {
  outline: none; }

.vocab-hilite {
  background: rgba(166, 226, 45, 0.07);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5); }

.vocab-selected {
  background: rgba(166, 226, 45, 0.16);
  -webkit-box-shadow: 0px 0px 0px 1px white;
          box-shadow: 0px 0px 0px 1px white; }

.vocab-code {
  white-space: pre;
  /* Structure */
  /* Colors */ }
  .vocab-code .block-type-token, .vocab-code .something-else {
    display: block; }
  .vocab-code .block-type-token {
    color: #f92772; }
  .vocab-code .something-else {
    color: #a6e22d; }
  .vocab-code .other {
    color: #f92772; }
