@import '../../assets/scss/monokai';

.vocab-code {
  white-space: pre;

  /* Structure */
  .block-type-token,
  .something-else {
    display: block;
  }

  /* Colors */
  .block-type-token {
    color: $red;
  }
  .something-else {
    color: $green;
  }
  .other {
    color: $red;
  }
}
